a {
  color: #1b387e !important;
  text-decoration: none !important;
}
.MuiPaper-root {
  color: rgba(226, 226, 228, 0.911);
  background-color: rgba(91, 19, 185, 0.938) !important;
}
list{
  padding-left: 4px;
  padding-right: 4px;
}